<div class="min-h-screen p-20 p">

    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3  xl:grid-cols-4  gap-4 w-fit mx-auto">
        <div class="bg-white w-64 h-80 rounded-2xl p-4 shadow-md border border-primary " (click)="details()" >
            <div class="w-full h-40 bg-second rounded-lg"></div>
            <div class="py-1">
                <h1 class="text-lg font-bold py-1">Pasta</h1>
                <h1 class="text-xl font-bold text-primary py-1">350</h1>
                <div class="py-2">
                    <button class="bg-second w-[103px] px-4 py-2 mr-2 rounded-md">Wishlist</button>
                    <button class="bg-primary w-[103px] px-4 py-2 ml-2 rounded-md" (click)="cart()">Cart</button>
                </div>
            </div>
        </div>
        <div class="bg-white w-64 h-80 rounded-2xl p-4 shadow-md border border-primary " >
            <div class="w-full h-40 bg-second rounded-lg"></div>
            <div class="py-1">
                <h1 class="text-lg font-bold py-1">Pasta</h1>
                <h1 class="text-xl font-bold text-primary py-1">350</h1>
                <div class="py-2">
                    <button class="bg-second w-[103px] px-4 py-2 mr-2 rounded-md hover:bg-gray-300">Wishlist</button>
                    <button class="bg-primary w-[103px] px-4 py-2 ml-2 rounded-md hover:bg-primary-70">Cart</button>
                </div>
            </div>
        </div>
        <div class="bg-white w-64 h-80 rounded-2xl p-4 shadow-md border border-primary " >
            <div class="w-full h-40 bg-second rounded-lg"></div>
            <div class="py-1">
                <h1 class="text-lg font-bold py-1">Pasta</h1>
                <h1 class="text-xl font-bold text-primary py-1">350</h1>
                <div class="py-2">
                    <button class="bg-second w-[103px] px-4 py-2 mr-2 rounded-md">Wishlist</button>
                    <button class="bg-primary w-[103px] px-4 py-2 ml-2 rounded-md">Cart</button>
                </div>
            </div>
        </div><div class="bg-white w-64 h-80 rounded-2xl p-4 shadow-md border border-primary " >
            <div class="w-full h-40 bg-second rounded-lg"></div>
            <div class="py-1">
                <h1 class="text-lg font-bold py-1">Pasta</h1>
                <h1 class="text-xl font-bold text-primary py-1">350</h1>
                <div class="py-2">
                    <button class="bg-second w-[103px] px-4 py-2 mr-2 rounded-md">Wishlist</button>
                    <button class="bg-primary w-[103px] px-4 py-2 ml-2 rounded-md">Cart</button>
                </div>
            </div>
        </div><div class="bg-white w-64 h-80 rounded-2xl p-4 shadow-md border border-primary " >
            <div class="w-full h-40 bg-second rounded-lg"></div>
            <div class="py-1">
                <h1 class="text-lg font-bold py-1">Pasta</h1>
                <h1 class="text-xl font-bold text-primary py-1">350</h1>
                <div class="py-2">
                    <button class="bg-second w-[103px] px-4 py-2 mr-2 rounded-md">Wishlist</button>
                    <button class="bg-primary w-[103px] px-4 py-2 ml-2 rounded-md">Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>