<div class="min-h-screen flex flex-col items-center p-20  bg-linear-to-t from-gray-50 to-second">
  <h1 class="text-3xl w-full text-center my-6"><i class="fa-solid fa-cart-shopping mx-1"></i>My Cart</h1>

  <div class="flex flex-col " >

    <div class="flex flex-row h-44 w-full bg-white p-4 rounded-2xl ">
      <div class="h-full w-40 bg-second grow-0 rounded-xl">
        <!-- image -->
      </div>
      <div class="flex flex-row justify-between grow ">
        <div class="flex flex-col min-w-52 justify-between px-4 py-1 ">
          <span>
             <h1 class="text-xl">Title</h1>
           <h2>size</h2>
          </span>
          <!-- details --> 
           <h2 class="text-lg">Price</h2>
        </div>
        <div class="bg-amber-300 w-32">
          <!-- remove & quantity -->
        </div>

      </div>
    </div>
    <hr class="text-gray-300 m-4">

  </div>
  
    

 
</div>
