<div class="min-h-screen flex flex-col items-center py-20 md:px-12 px-3 ">
  <div class="w-full ">
    @if(productDetails){
    <div class="flex flex-col lg:flex-row w-full p-3">
      <img class="h-[388px] w-[388px] md:h-[500px]  md:w-[500px]  bg-gray-500 rounded-3xl object-cover"
        [src]="productDetails.image[0]" alt="" />

      <div class="p-5 grow">
        <h1 class="text-3xl ">{{ productDetails.name }}</h1>

        <p class="text-gray-600 mb-6 pl-2">
          {{ productDetails.description }}
        </p>

@if (openMenuFor === productDetails._id) {
  <div class="flex gap-3 py-2">

    @for (i of productDetails.sizes; track $index) {
      <div
        class="border border-black rounded-md px-2 w-fit transition-all cursor-pointer"
        (click)="addToCart(productDetails._id, i); $event.stopPropagation()"
        [ngClass]="
          isInCart(productDetails._id)
            ? 'bg-black text-white hover:text-black'
            : 'hover:bg-black hover:text-white'
        "
      >
        {{ i }}
      </div>
    }

  </div>
}
     
        @if(productDetails.discountedPrice){
        <h5 class="text-2xl font-bold text-primary">
          {{ productDetails.discountedPrice | currency : 'EGP' }}
          <span class="text-sm text-gray-400 line-through">{{
            productDetails.price | currency : 'EGP'
            }}</span>
        </h5>

        }@else{
        <h5 class="text-2xl font-bold text-primary">
          {{ productDetails.price | currency : 'EGP' }}
        </h5>

        }
        <h2 class="text-2xl my-4 text-primary font-bold"></h2>
        <div class="flex items-center">
          <button
            class="w-fit py-1 px-3 flex items-center mr-4 justify-center  bg-opacity-80 rounded-full border border-gray-300 transition-all cursor-pointer disabled:cursor-not-allowed disabled:hover:text-gray-500 "
            (click)="cart(productDetails._id); $event.stopPropagation()" [disabled]="!isLogin"
            [ngClass]="isInCart(productDetails._id) ? 'bg-black text-white hover:bg-gray-600' : 'bg-white text-balck hover:bg-black hover:text-white '">
              @if (isInCart(productDetails._id)) { <span>Added To Cart</span> }@else{ <span>Add To Cart</span> }
            

          </button>
          <button
            class="w-8 h-8 flex items-center justify-center bg-white bg-opacity-80 rounded-full border hover:bg-primary hover:text-black transition-all border-gray-300 cursor-pointer disabled:hover:text-gray-300 disabled:cursor-not-allowed"
            (click)="wishlist(productDetails._id); $event.stopPropagation()" [disabled]="!isLogin"
            [ngClass]="isInWishlist(productDetails._id) ? ' text-primary' : '  text-black'">

            <i [ngClass]="
                    isInWishlist(productDetails._id) ? ' fa-solid' : 'text-black fa-regular'
                  " class="fa-heart "></i>
          </button>
          
        </div>
      </div>
    </div>
    <div>
      <div class="flex justify-between items-center">
        <h1 class="my-5 text-2xl">Similar products</h1>
        <a [routerLink]="['/menu']" [queryParams]="{ subcategoryId: productDetails.subcategoryId }"
          class="border border-primary p-1 px-3 h-fit rounded-full text-sm hover:bg-primary hover:text-white cursor-pointer">
          Show More
        </a>
      </div>
      <div
        class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-12 w-fit mx-auto">
        @for (product of similarProducts; track $index) {
        <div class="bg-white w-72 rounded-2xl p-4 shadow-md cursor-pointer" (click)="details(product._id)">
          <img class="w-full h-60  bg-second rounded-lg object-cover" [src]="product?.image?.[0]" alt="" />
          <div class="py-1">
            <h1 class="text-lg font-bold py-1">{{ product?.name }}</h1>
            @if(product?.discountedPrice){
            <h5 class="text-xl font-bold text-primary py-1">
              {{ product?.discountedPrice | currency : 'EGP' }}
              <span class="text-sm text-gray-400 line-through">{{
                product?.price | currency : 'EGP'
                }}</span>
            </h5>

            }@else{
            <h5 class="text-xl font-bold text-primary py-1">
              {{ product?.price | currency : 'EGP' }}
            </h5>

            }
          </div>
        </div>
        }
      </div>
    </div>
    <div class="mt-7">
      @if(isLogin){
      <h1 class="text-xl">Create Review</h1>
      <app-review (addComment)="handleAddComment($event)" [user]="user"></app-review>}
      <h1 class="my-5 text-xl">Reviews</h1>

      <div>
        @for (item of reviews; track $index) {
        <div class="flex my-10">
          <img class="w-10 h-10 bg-gray-700 rounded-full mr-3 object-cover" [src]="item.userId.image" alt="">
          <div>
            <p>{{item?.userId?.name}}</p>
            <div class="flex gap-1">
              @for (star of stars; track star; let i = $index) {
              <i class="fa-star  text-sm" [ngClass]="{
                  'fa-solid text-primary': i < item.rating,
                  'fa-regular': i >= item.rating
                }"></i>
              }
            </div>
            <p class="text-md text-gray-700">{{item.comment}}</p>
          </div>
          @if(item.userId._id == userData.userId){
          <div class="relative grow">
            <button (click)="toggleMenu(item._id)" class="absolute right-0 cursor-pointer text-xl">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            @if (openMenuFor === item._id) {
            <ul
              class="absolute right-0 top-6 border border-gray-200/50 p-1 list-none rounded-md min-w-[120px] shadow-lg">
              <li class="text-center rounded-md cursor-pointer bg-red-500 text-gray-100 hover:bg-red-600"
                (click)="confirmDelete(item._id)">
                Delete
              </li>

            </ul>
            }
          </div>
          }

        </div>
        }


      </div>
    </div>
    }@else {
      <app-not-found/>
    }
  </div>
</div>