<div
  class="flex justify-between items-center h-16 w-full px-32 fixed top-0 right-0 left-0 bg-white"
>
  <a routerLink="/">
    <img src="logo.png" class="h-12 w-fit" alt="logo" />
  </a>
  <div class="text-gray-700 text-lg">
    <a routerLink="/home" routerLinkActive="text-primary" class="mx-6">Home</a>
    <a routerLink="/menu" routerLinkActive="text-primary" class="mx-6">Menu</a>
    <a routerLink="/contacts" routerLinkActive="text-primary" class="mx-6">Contacts</a>
    <a routerLink="/about" routerLinkActive="text-primary" class="mx-6">About</a>
  </div>
  <div>
    <a routerLink="/cart"><i class="fa-solid fa-cart-shopping mx-2 text-primary"></i></a>
    <a routerLink="/wishlist"><i class="fa-solid fa-heart mx-5 text-primary"></i></a>
    @if (isLogin) {
    <button  class="bg-primary  px-4 py-1 rounded-md">LogOut</button>
    }@else{
    <a routerLink="/login" class="bg-primary h-6 w-16 px-4 py-2 rounded-md">Login</a>
    }
  </div>
</div>
