<div
  class="min-h-screen  flex flex-col items-center  pt-20 bg-second"
>
  <h1 class="text-3xl my-6 flex items-center">
    <i class="fa-solid fa-heart mx-1"></i>Wishlist
    @if (whishlist?.count) { <span class="ml-1">( {{ whishlist?.count }} )</span> }
  </h1>
@if(whishlist?.count){
  <section class="md:col-span-2 bg-white rounded-2xl p-6 shadow-lg w-full max-w-5xl">

    <!-- Table header -->
    <div class="hidden md:flex items-center text-sm text-gray-500 border-b px-4 pb-3 mb-4">
      <div class="w-3/6">Product</div>
      <div class="w-1/6 text-center">Price</div>
      <div class="w-1/6 text-center">Cart</div>
      <div class="w-1/6 text-center">Action</div>
    </div>

    <!-- Cart items -->
    <ul class="space-y-4">
      @for (item of whishlist?.items; track $index) {
      <li
        class="flex flex-col md:flex-row items-start md:items-center gap-4 p-4 rounded-xl border border-gray-100 cursor-pointer"
        (click)="details(item.product._id)"
      >
        <!-- Product -->
        <div class="flex items-center gap-4 w-full md:w-3/6">
          <img [src]="item.product.image[0]" class="w-20 h-20 rounded-lg object-cover" />
          <div>
            <div class="font-semibold text-gray-800">{{ item.product.name }}</div>
            <div class="text-sm text-gray-500 line-clamp-1">{{ item.product.description }}</div>
          </div>
        </div>

        <!-- Price -->
        <div class="w-full md:w-1/6 text-center">
          <div class="font-semibold text-gray-800">
            @if(item.product.discountedPrice) {
              {{ item.product.discountedPrice | currency : 'EGP' }}
            } @else {
              {{ item.product.price | currency : 'EGP' }}
            }
          </div>
        </div>

        <!-- Cart -->
        <div class="w-full md:w-1/6 text-center">
          <button
            class=" hover:text-primary-70 cursor-pointer disabled:hover:text-red-500 disabled:cursor-not-allowed"
            [ngClass]="isInCart(item.product._id) ? ' text-primary' : ' text-gray-500'"
            [disabled]="item.product.quantity == 0 "
            (click)="cart(item.product._id); $event.stopPropagation()"
          >
            <i class="fa-solid fa-cart-shopping"></i>
          </button>
        </div>

        <!-- Action -->
        <div class="w-full md:w-1/6 text-center">
          <button
            class="text-gray-400 hover:text-red-600 cursor-pointer"
            (click)="deleteItem(item.product._id); $event.stopPropagation()"
          >
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
      </li>
      }
    </ul>
  </section>}@else {
    <div class="flex flex-col items-center justify-center my-auto">
        <i class="fa-regular fa-heart text-gray-400 text-9xl"></i>
        <span class="text-gray-400 text-3xl my-5">Your Wishlist is empty</span>

      </div>
  }
</div>
